<!DOCTYPE html>
<html>
<head>
    <title>Admin Authentication | Hatch Forums</title>
</head>
<body>
	<p>Please wait....</p>
    <script>
		window.location.href = `/admin/${localStorage.getItem("token")}/`;
	</script>
</body>
</html>
