<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/root.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/style.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/navbar/navbar.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/footer/footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Hatch Forums</title>
</head>
<body>
    <div id="navarea"></div>
    <div id="main">
        <h1>Hatch Forums <a href="https://github.com/hatchdotlol/forums/releases/tag/<%= version %>" class="forum-version"><%= version %></a></h1>
        <a class="block" href="/category/1">Announcements</a>
        <a class="block" href="/category/2">Suggestions</a>
        <a class="block" href="/category/3">Questions about Hatch</a>
        <a class="block" href="/category/4">Project Help</a>
        <a class="block" href="/category/5">Bug Reports</a>
        <a class="block" href="/category/6">Show and Tell</a>
    </div>
    <div id="footercontainer"></div>
    <script src="https://dev.hatch.lol/navbar/navbar.js"></script>
    <script src="https://dev.hatch.lol/footer/footer.js"></script>
</body>
</html>
