<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/style.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/navbar/navbar.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/footer/footer.css">
</head>
<body>
    <div id="navarea"></div>
    <div id="main">
        <h1>Hatch Forums</h1>
        <a class="block" href="/category/1">Announcements</a>
        <a class="block" href="/category/2">Suggestions</a>
        <a class="block" href="/category/3">Questions about Hatch</a>
        <a class="block" href="/category/4">Project Help</a>
        <a class="block" href="/category/5">Bug Reports</a>
    </div>
    <div id="footercontainer"></div>
    <script src="https://dev.hatch.lol/navbar/navbar.js"></script>
    <script src="https://dev.hatch.lol/footer/footer.js"></script>
</body>
</html>