#main {
    color: #ffffff;
}

.block {
    display: block;
    background-color: var(--innerBlock);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    color: var(--univText);
    text-decoration: none;
}

#main a {
    color: var(--lightOrange);
    text-decoration: none;
}

#main a:hover {
    text-decoration: underline;
}

.post {
    display: flex;
    gap: 10px;
}

.post-content-container {
    flex: auto;
    word-break: break-word;
    width: calc(100% - 150px);
}

.post-reactions {
    float: right;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.post-user-info {
    width: 120px;
}

.post-pfp {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}

.post-tag {
    background-color: var(--lightOrange);
    color: #000000;
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
    display: inline-block;
}

.post-content-container, textarea, input {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--innerBlock2);
    border: none;
    color: #ffffff;
}

input::placeholder {
    color: #9f9f9f;
}

.button {
    background-color: var(--lightOrange);
    color: #000000 !important;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    width: fit-content;
    display: block;
    text-decoration: none !important;
    cursor: pointer;
}

.post_form input {
    width: calc(100% - 20px);
    font-family: inherit;
    font-size: inherit;
}

#new_post_title {
    margin-bottom: 10px;
}

.post_form textarea {
    resize: vertical;
    width: calc(100% - 20px);
    height: 200px;
    color: #ffffff;
    outline: none;
    font-family: inherit;
    margin-bottom: 10px;
}
