#main {
    color: #ffffff;
}

.block {
    display: block;
    background-color: var(--innerBlock);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    color: var(--univText);
    text-decoration: none;
}

#main a {
    color: var(--lightOrange);
    text-decoration: none;
}

#main a:hover {
    text-decoration: underline;
}

.post-header {
    margin-bottom: 10px;
}

.post-date {
    opacity: 0.6;
    font-style: italic;
}

.forum-version {
    font-style: italic;
    font-size: 1rem;
}

.post-stuff {
    display: flex;
    gap: 10px;
}

.post-content-container {
    flex: auto;
    word-break: break-word;
    width: calc(100% - 150px);
}

.post-reactions {
    height: fit-content;
    position: sticky;
    top: 10px;
}

.post-reactions a.button,
.post-action-button {
    user-select: none;
    background-color: var(--innerBlock) !important;
    color: var(--univText) !important;
    text-wrap: nowrap;
    width: calc(100% - 0.8rem);
    padding: 0.4rem !important;
}

.post-action-button {
    display: inline-block !important;
    width: fit-content !important;
}

.post-reactions a.button:hover,
.post-action-button:hover {
    filter: brightness(1.3);
}

.post-user-info {
    width: 120px;
    height: fit-content;
    position: sticky;
    top: 10px;
}

.post-pfp {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}

.post-tag {
    background-color: var(--lightOrange);
    color: #000000;
    padding: 0.1rem 0.3rem;
    border-radius: 0.5rem;
    display: inline-block;
}

.post-content-container, textarea, input {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--innerBlock2);
    border: none;
    color: #ffffff;
}

input::placeholder {
    color: #9f9f9f;
}

.button {
    background-color: var(--lightOrange);
    color: #000000 !important;
}

.button,
.post-action-button {
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    width: fit-content;
    display: block;
    text-decoration: none !important;
    cursor: pointer;
}

.post_form input {
    width: calc(100% - 20px);
    font-family: inherit;
    font-size: inherit;
}

#new_post_title {
    margin-bottom: 10px;
}

.post_form textarea {
    resize: vertical;
    width: calc(100% - 20px);
    height: 200px;
    color: #ffffff;
    outline: none;
    font-family: inherit;
    margin-bottom: 10px;
}

h1, h2, h3, p {
    margin: 1rem 0 !important;
}

.actions-bar {
    display: flex;
    gap: 10px;
}

.post:target {
    outline: 2px solid var(--primary);
}

blockquote {
    padding: 1rem;
    padding-left: calc(1rem - 3px);
    border-left: 3px solid var(--primary);
    margin: 0;
    background-color: #4b4b4b2d;
    border-radius: 3px 10px 10px 3px;
}

.post-content p {
    margin: 0 !important;
}